<footer class="page-footer center-on-small-only mdb-color stylish-color-dark">

                <!--Footer Links-->
                <div class="container">
                    <div class="row my-4">

                        <!--First column-->
                        <div class="col-md-4 col-lg-4">
                            <h5 class="title mb-4 font-bold">Makeroid</h5>
                            <p>Here you can use rows and columns here to organize your footer content.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident
                                voluptate esse quasi, veritatis totam voluptas nostrum. </p>
                        </div>
                        <!--/.First column-->

                        <hr class="clearfix w-100 d-md-none">

                        <!--Second column-->
                        <div class="col-md-2 col-lg-2 ml-auto">
                            <h5 class="title mb-4 font-bold">About</h5>
                            <ul>
                                <p><a href="https://docs.makeroid.io/">DOCS</a></p>
                                <p><a href="/team">TEAM</a></p>
                                <p><a href="/about">ABOUT</a></p>
                                <p><a href="https://community.makeroid.io/">COMMUNITY</a></p>
                            </ul>
                        </div>
                        <!--/.Second column-->

                        <hr class="clearfix w-100 d-md-none">

                        <!--Third column-->
                        <div class="col-md-4 col-lg-3">
                            <h5 class="title mb-4 font-bold">Contact</h5>
                            <!--Info-->
                            <p><a href="mailto:support@makeroid.io"><i class="fa fa-envelope mr-3"></i> support@makeroid.io</a></p>
                        </div>
                        <!--/.Third column-->

                        <hr class="clearfix w-100 d-md-none">

                        <!--Fourth column-->
                        <div class="col-md-2 col-lg-2 text-center">
                            <h5 class="title mb-4 font-bold">Follow Us</h5>
                            <!--Social buttons-->
                            <div class="social-section mt-2 ">
                                <!--Facebook-->
                                <a type="button" class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                                <!--Google +-->
                                <a type="button" class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
                                <!--Github-->
                                <a type="button" class="btn-floating btn-small btn-git waves-effect waves-light"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                        <!--/.Fourth column-->

                    </div>
                </div>
                <!--/.Footer Links-->

                <!--Copyright-->
                <div class="footer-copyright">
                    <div class="container-fluid">
                        © {{ 'now' | date: "%Y" }} Copyright: <a href="https://makeroid.io"> Makeroid </a> | All Rights Reserved
                    </div>
                </div>
                <!--/.Copyright-->

            </footer>
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbri-down mbr-iconfont"></i></a></div>
 <input name="animation" type="hidden">
 <!--<input name="cookieData" type="hidden" data-cookie-text="We use cookies to give you the best experience">-->
