<footer class="page-footer center-on-small-only mdb-color stylish-color-dark">
  <!--Footer Links-->
  <div class="container">
    <div class="row my-4">
      
      <!--First column-->
      <div class="col-md-3 col-lg-3">
        <img class="lazy img-fluid" width="100em" src="//assets.kodular.io/images/logo/inverted/512x512.png">
        <br>
        <h5 class="title my-4 font-bold">Kodular</h5>
        <p>Koded with <i class="fa fa-heart red-text"></i></p>
      </div>
      <!--/.First column-->
      
      <hr class="clearfix w-100 d-md-none">
      <!--Second column-->
      <div class="col-md-4 col-lg-4 ml-auto">
        <h5 class="title mb-4 font-bold">More</h5>
        <ul>
          <p><a target="_blank" href="https://blog.kodular.io">
            <i class="fa fa-book mr-3"></i> Blog</a></p>
          <p><a target="_blank" href="https://status.kodular.io">
            <i class="fa fa-signal mr-3"></i> Status</a></p>
          <p><a target="_blank" href="https://translate.kodular.io">
            <i class="fa fa-wechat mr-3"></i> Translate</a></p>
          <p><a target="_blank" href="https://docs.kodular.io/other/terms-of-service/">
            <i class="fa fa-info-circle mr-3"></i> Terms of Service</a></p>
        </ul>
      </div>
      <!--/.Second column-->
      
      <hr class="clearfix w-100 d-md-none">
      <!--Third column-->
      <div class="col-md-3 col-lg-3">
        <h5 class="title mb-4 font-bold">Shop</h5>
        <p><a href="https://shop.kodular.io" target="_blank"><i class="fa fa-shopping-cart mr-3"></i> shop.kodular.io</a></a></p>
        &nbsp;
        <h5 class="title mb-4 font-bold">Contact</h5>
        <p><a href="mailto:support@kodular.io" target="_blank"><i class="fa fa-comments mr-3"></i> support@kodular.io</a></a></p>
      </div>
      <!--/.Third column-->
      
      <hr class="clearfix w-100 d-md-none">
      <!--Fourth column-->
      <div class="col-md-2 col-lg-2 text-center">
        <h5 class="title mb-4 font-bold">Follow Us</h5>
        <!--Social buttons-->
        <div class="social-section mt-2 ">
          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb waves-effect waves-light" href="{{ site.social.fb }}" target="_blank"><i class="fa fa-facebook"></i></a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw waves-effect waves-light" href="{{ site.social.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
          <!--Google +-->
          <a type="button" class="btn-floating btn-small btn-gplus waves-effect waves-light" href="{{ site.social.gplus }}" target="_blank"><i class="fa fa-google-plus"></i></a>
          <!--Instagram-->
          <a type="button" class="btn-floating btn-small btn-ins waves-effect waves-light" href="{{ site.social.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
          <!--Github-->
          <a type="button" class="btn-floating btn-small btn-git waves-effect waves-light" href="{{ site.social.github }}" target="_blank"><i class="fa fa-github"></i></a>
          <!--Telegram-->
          <a type="button" class="btn-floating btn-small btn-tw waves-effect waves-light" href="{{ site.social.telegram }}" target="_blank"><i class="fa fa-telegram"></i></a>
        </div>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © {{ 'now' | date: "%Y" }} - Copyright: <a href="https://www.kodular.io">Kodular</a>&trade; | All Rights Reserved
    </div>
  </div>
  <!--/.Copyright-->
</footer>

{% include scripts.html %}
