<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/images/logo-70x70-1.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Makeroid">
    <meta name="apple-mobile-web-app-title" content="Makeroid">
    <meta name="theme-color" content="#4527a0">
    <meta name="msapplication-navbutton-color" content="#4527a0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/home">
    <title>
        {{ site.title }}
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="/assets/vendor/pace/pace.css">
    <link rel="stylesheet" href="/assets/vendor/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/vendor/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="/assets/vendor/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/theme/css/style.css">
    <link rel="stylesheet" href="/assets/fonts/style.css">
    <link rel="stylesheet" href="/assets/vendor/mobirise/css/mbr-additional.css" type="text/css">

        <script type='application/ld+json'>
            { "@context": "http://www.schema.org", "@type": "WebSite", "name": "Makeroid", "alternateName": "Makeroid App Builder", "url": "https://www.makeroid.io" }
        </script>
    <meta name="description" content="A new era of app building">
    <meta property="og:title" content="Makeroid App Builder" />
    <meta property="og:description" content="A new era of app building" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" /> <meta property="og:url" content="https://www.makeroid.io" />
    <meta property="og:image" content="https://www.makeroid.io/assets/logo.png" />
    
    {% include scripts/ads.html %}
    {% include scripts/scripts.html %}
</head>
