<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="assets/favicon.ico">
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    
    <!-- Android  -->
    <meta name="theme-color" content="#673ab7">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Makeroid App Builder">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    <!-- Windows  -->
    <meta name="msapplication-navbutton-color" content="#673ab7">
    <meta name="msapplication-TileColor" content="#673ab7">
    <meta name="msapplication-TileImage" content="assets/logo.png">

    <!-- Pinned Sites  -->
    <meta name="application-name" content="Makeroid App Builder">
    <meta name="msapplication-starturl" content="/">

    <!-- Search Engine -->
    <meta name="description" content="Drag and Drop Android App Builder. No coding required!">
    <meta name="image" content="assets/logo.png">
    
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Makeroid App Builder">
    <meta itemprop="description" content="Drag and Drop Android App Builder. No coding required!">
    <meta itemprop="image" content="assets/logo.png">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Makeroid App Builder">
    <meta name="twitter:description" content="Drag and Drop Android App Builder. No coding required!">
    <meta name="twitter:site" content="@MakeroidBuilder">
    
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Makeroid App Builder">
    <meta name="og:description" content="Drag and Drop Android App Builder. No coding required!">
    <meta name="og:url" content="https://www.makeroid.io">
    <meta name="og:site_name" content="Makeroid App Builder">
    <meta name="og:locale" content="en">
    <meta name="fb:admins" content="261025611048691">
    <meta name="og:type" content="website">
    
    {% include styles.html %}
    
    <!-- Google Stuff -->
    <script type='application/ld+json'>
  	{
  	  "@context": "http://www.schema.org",
  	  "@type": "WebSite",
  	  "name": "Makeroid",
  	  "alternateName": "Makeroid App Builder",
  	  "url": "https://www.makeroid.io"
  	}
  	</script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.makeroid.io",
      "logo": "https://www.makeroid.io/assets/logo.png"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Makeroid",
      "url": "https://www.makeroid.io",
      "sameAs": [
        "https://www.facebook.com/Makeroid",
        "https://instagram.com/MakeroidBuilder",
        "https://plus.google.com/111643344046547332656",
        "https://github.com/Makeroid",
        "https://telegram.me/Makeroid"
      ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Kodular",
      "alternateName": "Kodular",
      "url": "https://www.kodular.io"
    }
    </script>
</head>
