<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    
    <!-- Android  -->
    <meta name="theme-color" content="#673ab7">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Kodular">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    <!-- Windows  -->
    <meta name="msapplication-navbutton-color" content="#673ab7">
    <meta name="msapplication-TileColor" content="#673ab7">
    <meta name="msapplication-TileImage" content="/assets/logo.png">

    <!-- Pinned Sites  -->
    <meta name="application-name" content="Kodular">
    <meta name="msapplication-starturl" content="/">

    <!-- Search Engine -->
    <meta name="description" content="Much more than a modern app creator without coding">
    <meta name="image" content="/assets/logo.png">
    
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Kodular">
    <meta itemprop="description" content="Much more than a modern app creator without coding">
    <meta itemprop="image" content="/assets/logo.png">
    
    <!-- Social -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Kodular">
    <meta name="twitter:description" content="Much more than a modern app creator without coding">
    <meta name="twitter:site" content="@KodularIO">
    <meta name="fb:admins" content="261025611048691">
    
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Kodular">
    <meta name="og:description" content="Much more than a modern app creator without coding">
    <meta name="og:url" content="https://www.kodular.io">
    <meta name="og:site_name" content="Kodular">
    <meta name="og:locale" content="en">
    <meta name="og:type" content="website">
    
    {% include styles.html %}
    
    <!-- Google Stuff -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Kodular",
      "url": "https://www.kodular.io",
      "alternateName": "Kodular Creator",
      "logo": "https://www.kodular.io/assets/logo.png",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "email": "support@kodular.io",
          "url": "https://support.kodular.io",
          "contactType": "customer support"
        }
      ],
      "sameAs": [
        "https://facebook.com/Kodular",
        "https://instagram.com/Kodular",
        "https://twitter.com/KodularIO",
        "https://youtube.com/channel/UCnlxUFnrxnqECyTjVgmGgsQ",
        "https://github.com/Kodular",
        "https://telegram.me/Kodular"
      ],
      "founders": [
        { "@type": "Person", "name": "Conor Shipp" },
        { "@type": "Person", "name": "Diego Barreiro" },
        { "@type": "Person", "name": "Mika" },
        { "@type": "Person", "name": "Pavitra Golchha" },
        { "@type": "Person", "name": "Sander Jochems" },
        { "@type": "Person", "name": "Sivagiri Visakan" },
        { "@type": "Person", "name": "Vishwas Adiga" }
      ]
    }
    </script>
</head>
