<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <a class="navbar-brand" href="/">Makeroid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                            <i class="fa fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="https://docs.makeroid.io">
                            <i class="fa fa-book"></i> Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="/team">
                            <i class="fa fa-users"></i> Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="/about">
                            <i class="fa fa-info-circle"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="https://community.makeroid.io">
                            <i class="fa fa-wechat"></i> Community</a>
                </li>
            </ul>
        </div>
</nav>
