<nav class="navbar fixed-top navbar-expand-lg navbar-dark deep-purple">
  <a class="navbar-brand" href="/" style="font-family: 'Varela Round', sans-serif;">
    <strong>Kodular</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon"><span></span><span></span><span></span><span></span></div>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe"></i> Modules
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
          {% for service in site.data.modules %}
            {% if service.title == "div" %}
              <div class="dropdown-divider"></div>
            {% else %}
              <a class="dropdown-item" href="{{ service.href }}">{{ service.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </li>
      {% for nav in site.data.nav %}
      {% assign current_url = page.url | remove: '.html' %}
      <li class="nav-item{% if current_url == nav.href %} active{% endif %}">
        <a class="nav-link" href="{{ nav.href }}" {% if nav.external %}target="_blank"{% endif %}>
        <i class="fa fa-{{ nav.icon }}"></i> {{ nav.title }}</a>
      </li>
      {% endfor %}
      <li class="nav-item pink lighten-1 rounded">
        <a class="nav-link" href="https://c.kodular.io" target="_blank">
        <i class="fa fa-cloud"></i> Create Apps!</a>
      </li>
    </ul>
  </div>
</nav>
