<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/assets/vendor/mdb/mdb.min.js"></script>
<script src="/assets/vendor/mdb/popper.min.js"></script>
<script src="/assets/vendor/lazy/jquery.lazy.min.js"></script>
<script src="/assets/vendor/lazy/jquery.lazy.plugins.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.9.3/jarallax.min.js" integrity="sha256-nayLqs5VTSn5wF5AwSu9Bd9g4G0g0g/FzePb5cnM5Bo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emojione@3.1.2/lib/js/emojione.min.js"></script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-102230060-3" async></script>

<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3950548284288982",
    enable_page_level_ads: true
  });
</script>

<script>
	$(function() {
		$('.lazy').Lazy({
			scrollDirection: 'vertical',
			effect: 'fadeIn',
			visibleOnly: true,
			onError: function(element) {
				console.log('Error Loading | ' + element.data('src'));
			}
		});
	});

	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-102230060-3');

	var OneSignal = window.OneSignal || [];
	OneSignal.push(function() { OneSignal.init({ appId: "cf5b90e4-ef6b-4f5b-ae22-ee72ec3cb083", }); });

	$(document).ready(function() {
		$('.navbar-toggler').on('click', function () {
			$('.animated-icon').toggleClass('open');
		});

		if (window.location.href.replace(/^(?:\/\/|[^\/]+)*\//, "") == "") {
			$(() => {
				new WOW().init();
				$('#testimonials .row').slick({
					arrows: false,
					slidesToShow: 3,
					autoplay: true,
					autoplaySpeed: 2000,
					responsive: [{
						breakpoint: 768,
						settings: {
							slidesToShow: 1
						}
					}]
				});
			});
		}

		if (window.location.href.replace(/^(?:\/\/|[^\/]+)*\//, "") == "team") {
			$(".emojione").each(function() {
				var original = $(this).html();
				var converted = emojione.shortnameToImage(original);
				$(this).html(converted);
			});

			$.getJSON('https://community.kodular.io/groups/prokoders/members.json?limit=100', function(data) {
				data.members.forEach(function(v, i) {
					var team = ['Diego', 'sivagiri', 'Vishwas', 'Conor', 'Mika', 'pavi2410', 'Sander'];
					if (!team.includes(v.username)) {
						var li = document.createElement("li");
						var a = document.createElement('a');
						a.appendChild(document.createTextNode(v.name!='' ? v.name : v.username));
						a.title = (v.name!='' ? v.name : v.username);
						a.href = "https://community.kodular.io/u/"+v.username;
						li.appendChild(a);
						document.getElementById("prokoders").appendChild(li);
					}
				});
			});
		}
	});
</script>
