<!--Section: Testimonials v.3-->
<section class="section team-section text-center pb-3">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Testimonials</h1>
    <!--Section description-->
    <p class="section-description">Read what our users say about Makeroid.</p>

    <!--Grid row-->
    <div class="row text-center">
        {% for testimonial in site.data.testimonials %}
        <!--Grid column-->
        <div class="col-md-4 mb-r">
            
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar">
                    <img src="{{ testimonial.photo }}" class="rounded-circle z-depth-1 img-fluid">
                </div>
                
                <!--Content-->
                <h4 class="mb-3">{{ testimonial.name }}</h4>
                <h6 class="mb-3 font-bold grey-text">{{ testimonial.desc }}</h6>
                <p><i class="fa fa-quote-left"></i> {{ testimonial.text }}</p>

                <!--Review-->
                <div class="orange-text">
                    {% assign stars = [testimonial.rating] %}
                    {% for i in (1...stars) %}
                    <i class="fa fa-star"> </i>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Grid column-->  
        {% endfor %}
    </div>
    <!--Grid row-->

</section>
<!--Section: Testimonials v.3-->
