.top-nav-collapse {
	background-color: mediumpurple !important; 
}
.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: mediumpurple !important;
	} 
}
@media (max-width: 740px) {
	.full-height,
	.full-height body,
	.full-height header,
	.full-height header .view {
		height: 700px; 
	} 
}