body {
    font-family: "Varela Round", Lato, sans-serif;
}

img.grayscale-hover-effect {
  filter: grayscale(1);
}

img.grayscale-hover-effect:hover {
  filter: grayscale(0);
}

.scrollbar-gradient::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-gradient::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-gradient::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html {
  height:100%
}

.navbar {
  background-color:rgba(0,0,0,.2)
}

.page-footer,
.top-nav-collapse{
  background-color:#1C2331
}

@media only screen and (max-width:768px) {
  .navbar {
    background-color:#1C2331
  }
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
  
.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
  
.animated-icon span {
  background: #e3f2fd;
}
  
.animated-icon span:nth-child(1) {
  top: 0px;
}
  
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
  top: 10px;
}
  
.animated-icon span:nth-child(4) {
  top: 20px;
}
  
.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
  
.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
  
.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
  
.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}