---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pricing | Kodular">
	<!-- Section: Creator -->
	<section class="section feature-box pt-5" id="creator">
		<div class="container">

			<!-- Section heading -->
			<h2 class="section-heading pt-4 mb-5">Kodular Creator</h2>

			<div id="premium-header" class="premium-section card purple-gradient rounded p-5 m-5 text-left">
				<h1 id="leading" class="text-white font-bold">
					Get more from Kodular.
					<br>
					Upgrade to Premium today.
				</h1>
				<div class="mt-4 d-flex flex-wrap">
					<a class="btn-white purple-text p-2 px-3 mr-3 d-inline rounded" href="https://my.kodular.io/premium/#monthly">
						Upgrade now for €3.99/month
					</a>
					<a class="btn-outline-white p-2 px-3 d-inline rounded" href="https://my.kodular.io/premium/#yearly">
						or for €40.99/year
					</a>
				</div>
			</div>

			<hr class="hr-width" />

			<div id="premium-benefits" class="premium-section m-5">
				<h2 id="benefits-title">What you get with Premium</h2>
				<p id="benefits-subtitle">Gain unrestricted access to all of Kodular. Build powerful apps without limits.</p>
				
				<table class="benefits__table table table-bordered rounded-lg mt-5">
					<tr>
						<th class="benefits__th"></th>
						<th class="benefits__th font-bold">Free</th>
						<th class="benefits__th font-bold">Premium</th>
					</tr>
					<tr>
						<td class="benefits__td text-left">Number of projects</td>
						<td class="benefits__td">10</td>
						<td class="benefits__td">Unlimited</td>
					</tr>
					<tr>
						<td class="benefits__td text-left">Total asset size</td>
						<td class="benefits__td">5MB</td>
						<td class="benefits__td">Unlimited</td>
					</tr>
					<tr>
						<td class="benefits__td text-left">Number of extensions per project</td>
						<td class="benefits__td">5</td>
						<td class="benefits__td">Unlimited</td>
					</tr>
					<tr>
						<td class="benefits__td text-left">Monetization extensions</td>
						<td class="benefits__td">Cannot be used in projects</td>
						<td class="benefits__td">Any extension can be used, including monetization extensions</td>
					</tr>
					<tr>
						<td class="benefits__td text-left">Monetization components</td>
						<td class="benefits__td">Only Google Ad Manager components, with commission</td>
						<td class="benefits__td">Google Ad Manager components with commission + all other monetization components without commission</td>
					</tr>
				</table>
			</div>
		</div>

	</section>
	<!-- Section: Pricing v.6 -->
</Layout>
