/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: rgba(0,0,0, .87);
	line-height: 1.3;
	letter-spacing: 0.05em;
}

a,
a:focus,
a:active {
	color: ;
	text-decoration: none;
}

a:hover {
	color: ;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0, .87);
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

.container {
	width: 100%;
	max-width: 1170px;
}

/* ------------------------------------------------------------ *\
	Loader
\* ------------------------------------------------------------ */

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
}

.loader .preloader-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.loader .spinner-blue,
.loader .spinner-blue-only {
    border-color: #3f51b5;
}

/* ------------------------------------------------------------ *\
	Custom Scroll
\* ------------------------------------------------------------ */

.mCSB_inside>.mCSB_container {
	margin-right: 0;
}

.mCSB_scrollTools {
	z-index: 9999;
}


/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: fixed;
	left: 30px;
	top: 30px;
	z-index: 999;
}

.header .btn-floating {
	width: 42px;
	height: 42px;
	background-color: #8c9eff;
}

.header .btn-floating i {
	line-height: 42px;
	font-size: 18px;
	color: rgba(0,0,0, .5);
}

.dropdown .dropdown-menu {
	display: block;
	margin-top: 10px;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	-webkit-transform-origin: left top;
	   -moz-transform-origin: left top;
	    -ms-transform-origin: left top;
	     -o-transform-origin: left top;
	        transform-origin: left top;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}

.dropdown.open .dropdown-menu {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.dropdown-menu > li > a {
	font-size: 15px;
	color: rgba(0, 0, 0, .87);
	-webkit-transition: color .4s ease;
	     -o-transition: color .4s ease;
	        transition: color .4s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover {
	background-color: transparent;
	text-decoration: none;
	color: #8c9eff;
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 0;
}

.section .section-head {
	height: 240px;
	text-align: center;
	position: relative;
	z-index: 10;
}

.section .section-head h1 {
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.1em;
	margin: 0;
}

.section .section-head h2 {
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0 0 50px;
}

.section .section-head h4 {
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.05em;
	margin: 0;
	opacity: .75;
}

.section .section-head:after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #3f51b5;
	opacity: .8;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}

.section .section-head-inner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	 -o-transform: translateY(-50%);
    		transform: translateY(-50%);
    z-index: 20;
}

.section .section-body {
	position: relative;
	z-index: 20;
	margin-top: -50px;
}

.section .section-foot {
    position: relative;
    text-align: center;
    z-index: 30;
}

.section .section-foot .copyright {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    opacity: .87;
}

.section .section-foot .copyright a,
.section .section-foot .copyright span {
    color: #8c9eff;
}

.section .section-foot .socials {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.section .section-foot .socials li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.section .section-foot .socials a {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #8c9eff;
    border-radius: 50%;
    text-align: center;
}

.section .section-foot .socials .fa {
    font-size: 14px;
    color: #fff;
    line-height: 32px;
}

/* ------------------------------------------------------------ *\
	Section Home
\* ------------------------------------------------------------ */

.section-home .section-head {
    padding: 50px 0;
    position: relative;
    background: url(images/section-home-bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
}

.section-home .section-head-inner {
    margin-top: -45px;
}

.section-home .section-head h4 {
    margin-top: 20px;
}

.section-home .card-countdown {
    text-align: center;
    overflow: hidden;
    padding: 30px 0;
    margin-top: -40px;
}

.section-home .countdown-part {
    float: left;
    width: 25%;
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    color: #000;
    letter-spacing: 0.05em;
}

.section-home .countdown-labels {
    overflow: hidden;
    clear: both;
}

.section-home .countdown-labels span {
    float: left;
    width: 25%;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
    color: #000;
    letter-spacing: 0.05em;
}

/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

.btn.blue {
    height: 42px;
    background-color: #3f51b5 !important;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 44px;
}

.btn.blue:hover {
    background-color: #5c6bc0 !important;
    color: #fff;
}

/* ------------------------------------------------------------ *\
	Form Subscribe
\* ------------------------------------------------------------ */

input[type='email'],
input[type='text'],
textarea.materialize-textarea {
    border-bottom-color: #bfbfbf;
    box-shadow: 0 1px 0 #bfbfbf;
}

.form-subscribe {
    text-align: center;
    padding: 10px 0;
}

.form-subscribe .input-field label {
    left: 0;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    opacity: .65;
}

.form-subscribe .input-field input:focus {
    border-bottom-color: #3f51b5;
    box-shadow: 0 1px 0 #3f51b5;
}

.form-subscribe .input-field input:focus ~ label {
    color: #3f51b5;
    opacity: 1;
}

/* ------------------------------------------------------------ *\
    Responsive Styles
\* ------------------------------------------------------------ */

/*  Tablet  */

@media (max-width: 1023px) {
    .section .section-head h1 {
        font-size: 60px;
    }

    .section .section-head h2 {
        font-size: 48px;
    }

    .section-home .countdown-part {
        font-size: 48px;
    }

    .section-services .card {
        padding: 30px 20px;
    }

    .section-services .service .service-icon,
    .section-services .service .service-content {
        display: block;
        width: 100%;
        text-align: center;
    }

    .section-services .service .service-icon {
        width: 140px;
        margin: 0 auto 30px;
        border: 0;
        border-bottom: 5px solid #3f51b5;
    }

    .section-services .service .service-icon i {
        font-size: 48px;
    }

    .section-services .service .service-content h5 {
        font-size: 18px;
    }

    .section-services .service .service-content p {
        font-size: 12px;
    }

    .section-work .portfolio-item {
        width: 50%;
    }
}

/*  Phone  */

@media (max-width: 767px) {
    .section .section-head h1,
    .section .section-head h2,
    .section-home .countdown-part {
        font-size: 36px;
    }

    .section-home .section-head h4 {
        font-size: 24px;
    }

    .section-home .countdown-labels span,
    .section-about .section-body blockquote p {
        font-size: 16px;
    }

    .section-about .card,
    .section-work .card,
    .section-contacts .card {
        padding: 20px;
    }

    .section-work .portfolio-item {
        width: 100%;
    }
}

@media (max-width: 374px) {
    .section-home .countdown-part {
        font-size: 32px;
    }

    .btn.blue,
    .section-home .countdown-labels span {
        font-size: 14px;
    }
}
