---
import featuredon from '../data/featuredon.yml';

interface Featuredon {
	name: string;
	url: string;
}
---

<section class="section py-5 text-center" id="featuredon">
	<div class="container">
	<h1 class="section-heading">As featured on...</h1>
		<div class="row align-items-center">
			{featuredon.map((site: Featuredon, i: number) => (
				<div class="col-md-4">
					<a href="{{ site.url }}" target="_blank">
						<img class="lazy img-fluid grayscale-hover-effect" src={`/images/${ site.name.toLowerCase().replaceAll(' ', '') }.png`} alt={ site.name } />
					</a>
				</div>
			))}
		</div>
	</div>
</section>
