---
---

<nav class="navbar fixed-top navbar-expand-lg navbar-dark deep-purple">
	<a class="navbar-brand" href="/">
		<strong>Kodular</strong>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
		aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<div class="animated-icon"><span></span><span></span><span></span><span></span></div>
	</button>
	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-globe"></i> Modules
				</a>
				<div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
							<a class="dropdown-item" href="/creator">Creator</a>
							<a class="dropdown-item" href="//ide.kodular.io">Extensions IDE</a>
							<a class="dropdown-item" href="//store.kodular.io">Store</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="//my.kodular.io">Account</a>
				</div>
			</li>
			<li class={`nav-item ${ Astro.url.pathname.startsWith('/pricing') && 'active' }`}>
				<a class="nav-link" href="/pricing">
				<i class="fa fa-credit-card"></i> Pricing</a>
			</li>
			<li class={`nav-item ${ Astro.url.pathname.startsWith('/team') && 'active' }`}>
				<a class="nav-link" href="/team">
				<i class="fa fa-users"></i> Team</a>
			</li>
			<li class={`nav-item ${ Astro.url.pathname.startsWith('/about') && 'active' }`}>
				<a class="nav-link" href="/about">
				<i class="fa fa-info-circle"></i> About</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="//community.kodular.io">
				<i class="fa fa-comments"></i> Community</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="//docs.kodular.io">
				<i class="fa fa-book"></i> Docs</a>
			</li>
			<li class="nav-item pink lighten-1 rounded">
				<a class="nav-link" href="https://c.kodular.io" target="_blank">
				<i class="fa fa-shapes"></i> Create Apps!</a>
			</li>
		</ul>
	</div>
</nav>
