<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/vendor/mdb/mdb.min.js"></script>
<script src="/vendor/mdb/popper.min.js"></script>
<script src="/vendor/lazy/jquery.lazy.min.js"></script>
<script src="/vendor/lazy/jquery.lazy.plugins.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.9.3/jarallax.min.js" integrity="sha256-nayLqs5VTSn5wF5AwSu9Bd9g4G0g0g/FzePb5cnM5Bo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-toolkit@7.0.0/lib/js/joypixels.min.js"></script>

<script>
	$(() => {
		$('.lazy').Lazy({
			scrollDirection: 'vertical',
			effect: 'fadeIn',
			visibleOnly: true,
			onError: function(element) {
				console.log('Error Loading | ' + element.data('src'));
			}
		});

		$('.navbar-toggler').on('click', function () {
			$('.animated-icon').toggleClass('open');
		});

		if (window.location.pathname === "/") {
            new WOW().init();
            $('#testimonials .row').slick({
                arrows: false,
                slidesToShow: 3,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1
                    }
                }]
            });
		}

		if (window.location.pathname.startswith("/team")) {
            document.querySelectorAll('.joypixels').forEach(function (element) {
              const original = element.innerHTML;
              element.innerHTML = joypixels.shortnameToImage(original);
            });
		}
	});
</script>
