<!doctype html>
<html lang="en">

    {% include head.html %}

    <body class="deep-purple lighten-5 scrollbar-gradient">
        {% include nav.html %}

        {{ content }}

        {% include footer.html %}
        {% include scripts/scripts.html %}
        {% include scripts/ga.html %}

        <!-- Floating Button -->
        <div class="fixed-action-btn" style="bottom: 1em; right: 1em;">
            <a class="btn-floating btn-lg lighten-1 pink waves-effect waves-light" href="//community.makeroid.io" target="_blank">
                <i class="fa fa-comments"></i>
            </a>
        </div>
    </body>
</html>
