---
export interface Props {
	url: string;
}

const { url } = Astro.props;
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${url}`} />
  </head>
  <body>
    <p>
      In case that your browser doesn't automatically redirect you, click <a href={url}>here</a>
    </p>
  </body>
</html>
